#include "Versions.h"
#include <winres.h>

#pragma code_page(65001)

VS_VERSION_INFO VERSIONINFO
    FILEVERSION TL_VERSION_MAJOR, TL_VERSION_MINOR, TL_VERSION_PATCH
    PRODUCTVERSION TL_VERSION_MAJOR,TL_VERSION_MINOR, TL_VERSION_PATCH
    FILEFLAGSMASK 0x3fL
    FILEFLAGS TL_FILE_VERSION_FLAG
    FILEOS 0x40004L
    FILETYPE 0x2L
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "TelluriumDev"
            VALUE "FileDescription", "A essential and light-weight mod for Bedrock Server"
            VALUE "FileVersion", TL_FILE_VERSION_STRING
            VALUE "InternalName", "Tellurium.dll"
            VALUE "LegalCopyright", "Copyright (c) 2024 TelluriumDev"
            VALUE "OriginalFilename", "Tellurium.dll"
            VALUE "ProductName", "Tellurium for LeviLamina"
            VALUE "ProductVersion", TL_FILE_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
